.categories {
  margin: 40px 40px 106px;
}

.title {
  margin: 0 0 40px;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  color: rgba(40, 40, 40, 1);
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

@media (max-width: 1024px) {
  .categories {
    margin: 40px 20px 60px;
  }

  .title {
    margin-bottom: 32px;
    font-size: 48px;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .categories {
    margin: 32px 20px 50px;
  }

  .title {
    margin-bottom: 28px;
    font-size: 40px;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .categories {
    margin: 24px 20px 40px;
  }

  .title {
    margin-bottom: 24px;
    font-size: 32px;
  }

  .list {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}