.categories {
  margin: 40px 40px 106px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumb,
.breadcrumbCurrent {
  height: 36px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
}

.breadcrumb {
  color: rgb(139, 139, 139);
}

.breadcrumbCurrent {
  color: rgb(40, 40, 40);
}

.breadcrumbLine {
  width: 16px;
  height: 1px;
  background-color: rgb(221, 221, 221);
  flex-shrink: 0;
}

.title {
  margin: 0 0 40px;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  color: rgba(40, 40, 40, 1);
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

@media (max-width: 1024px) {
  .categories {
    margin: 40px 20px 60px;
  }

  .title {
    margin-bottom: 32px;
    font-size: 48px;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .categories {
    margin: 32px 20px 50px;
  }

  .breadcrumbs {
    margin-bottom: 32px;
  }

  .title {
    margin-bottom: 28px;
    font-size: 40px;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .categories {
    margin: 24px 20px 40px;
  }

  .breadcrumbs {
    margin-bottom: 24px;
  }

  .breadcrumb,
  .breadcrumbCurrent {
    height: 32px;
    padding: 6px 10px;
    font-size: 12px;
  }

  .breadcrumbLine {
    width: 12px;
  }

  .title {
    margin-bottom: 24px;
    font-size: 32px;
  }

  .list {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}