.allSales {
  margin: 40px 40px 80px;
}

.title {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  color: rgb(40, 40, 40);
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

@media (max-width: 1024px) {
  .allSales {
    margin: 40px 40px 70px;
  }

  .title {
    font-size: 48px;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .allSales {
    margin: 40px 40px 60px;
  }

  .products {
    grid-template-columns: repeat(
      2,
      minmax(200px, 1fr)
    );
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .products {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}