.footer {
  padding: 0 40px 80px;
  color: rgba(40, 40, 40, 1);
}

.footer h2 {
  margin: 0 0 40px;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}

.contacts {
  display: grid;
  grid-template-columns: 57.35% 1fr;
  gap: 32px;
}

.contactItem {
  min-height: 150px;
  padding: 32px;
  background-color: rgba(241, 243, 244, 1);
  border-radius: 12px;
}

.contactItem span {
  display: block;
  margin-bottom: 16px;
  color: rgba(139, 139, 139, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

.contactItem p,
.contactItem > a {
  margin: 0;
  color: rgba(40, 40, 40, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  text-decoration: none;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.socialIcons a {
  display: flex;
}

.socialIcons img {
  display: block;
  width: 43px;
  height: 43px;
}

.map {
  width: 100%;
  height: 350px;
  margin-top: 32px;
  overflow: hidden;
  border-radius: 12px;
}

.map iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}